{% include 'booking/sections/header.html' %}
{% load static %}
<title>{{page_title}}</title>

</head>

<body>
    {% include 'booking/sections/nav-bar.html' %}
    <div class="min-h-screen flex">

        {% include 'booking/sections/side-bar.html' %}

        {% if messages %}
        <div class="alerts-list absolute right-0 mr-4">
            {% for message in messages %}
            <div onclick="this.style.display='none';" class="p-2 bg-blue-200 text-blue-800 cursor-pointer p-4 text-sm rounded border border-blue-300 my-3">
                {{message}}
            </div>
            {% endfor %}
        </div>
        {% endif %}




        <main class="flex-1 min-w-0 px-2">

            <section class="h-screen bg-gray-100/50 pt-8">
                <h1 class="text-center">Ticket Detail of {{booking}}</h1>


                <div class="py-10 h-screen bg-red-100 px-2" >
                    <div class="max-w-md mx-auto rounded-lg overflow-hidden md:max-w-xl">
                        <div class="md:flex">
                            <div class="w-full p-3">
                                <div class="border rounded-lg border-dashed py-5 border-3 bg-green-300">
                                    <div class="p-3 bg-green-300">
                                        <h5 class="text-gray-600">
                                            {% if payment.status %}
                                                You Paid 
                                                <div class="pl-20 ml-20 text-end inline" style="float: right;">
                                                    <a href="/tickets/{{payment.booking.uid}}/" class="hover:bg-blue-200 text-center rounded-lg text-purple-700 text-2xl bg-gray-200 p-2">
                                                        Download Ticket
                                                    </a>
                                                </div>
                                            {% else %} 
                                                Flight Fare 
                                            {% endif %}
                                        </h5>
                                        <div class="flex flex-row items-end"> 
                                            <span class="text-gray-600 text-3xl font-bold">{{payment.amount}} </span>
                                            <span class="mt-2 text-gray-600 font-bold pl-1"> INR</span> 
                                        </div>
                                    </div>
                                    <div class="flex w-full mt-3 mb-3"> 
                                        <span class="border border-dashed w-full border-white"></span> 
                                    </div>
                                    <div {% if payment.status %} class="p-3 space-y-5 bg-green-500" {% else %} class="p-3 space-y-5 bg-red-500" {% endif %} >
                                        <div class="flex flex-col"> 
                                            <span class="text-gray-200">Flight Number</span>
                                            <span class="text-white text-lg font-bold">{{booking.flight}}</span> 
                                        </div>
                                        <div class="flex flex-col">
                                            <span class="text-gray-200">Payment ID #</span>
                                            <span class="text-white text-lg font-bold">{{payment.payment_id}}</span>
                                        </div>
                                        <div class="flex flex-col"> 
                                            <span class="text-gray-200">PNR Code</span> 
                                            <span class="text-white text-lg font-bold">{{booking.pnr_code}}</span>
                                        </div>
                                        <div class="flex flex-col"> 
                                            <span class="text-gray-200">Passenger</span> 
                                            <span class="text-white text-lg font-bold">{{booking.person_name}}</span>
                                        </div>
                                        <div class="flex flex-col"> 
                                            <span class="text-gray-200">Contact</span> 
                                            <span class="text-white text-lg font-bold">
                                                {{booking.email}} <br> {{payment.booking.mobile_number}}
                                            </span>
                                        </div>

                                        <div class="flex flex-col"> 
                                            <span class="text-gray-200">Departure</span> 
                                            <span class="text-white text-lg font-bold">
                                                {{booking.flight.departure_date }} {{booking.flight.departure_time }} <br> {{booking.flight.origin_airport}}
                                            </span>
                                        </div>

                                        <div class="flex flex-col"> 
                                            <span class="text-gray-200">Arrival</span> 
                                            <span class="text-white text-lg font-bold">
                                                {{booking.flight.arrival_date }} {{booking.flight.arrival_time }} <br> {{booking.flight.destination_airport}}
                                            </span>
                                        </div>

                                        <div class="flex flex-col"> 
                                            <span class="text-gray-200">Status</span> 
                                            {% if payment.status %} 
                                                <span class="text-gray-900 w-20 text-center bg-gray-200 rounded-full text-lg font-bold"> Success </span>
                                                <div class="pl-20 ml-20">
                                                    <a href="/tickets/{{payment.booking.uid}}/"
                                                        class="hover:bg-blue-200 text-center rounded-lg text-purple-700 text-2xl bg-gray-200 p-2"> Download Ticket</a>
                                                </div>
                                            {% else %} 
                                                <span class="text-gray-900 w-20 text-center bg-gray-200 rounded-full text-lg font-bold"> Failed </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <br><br>



        </main>
    </div>

    {% include 'booking/sections/footer.html' %}